body {
  background-color: rgb(142, 235, 219);
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(34, 145, 219);
}

.load-more {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  font-family: fantasy;
  font-style: normal;
  color: #ffffff;
  background-color: rgb(34, 145, 219);
  border: 1px solid transparent;
  border-radius: 30;
  cursor: pointer;
}

.photo-card {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
}

button:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}

button.hidden {
  display: none;
}

/* //*======================= */
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: tomato;
  color: #fff;
  transform: translatey(-100%);
  transition: transform 250ms ease-in-out;
}

.alert.is-visible {
  transform: translatey(0);
}
